body {
    background-color: rgb(251, 251, 247);
    font-family: "Inter", sans-serif;
    color:rgb(17, 17, 17);
    margin: 0;
    padding: 0;
}

h1 {
    color: (rgb(251, 251, 247));
    font-weight: 600;
    margin-left: 24px;
}

h5 {
    font-weight: 600;
    margin-left: 24px;
}

p {
    color: (rgb(251, 251, 247));
    font-weight: 400;
    margin-left: 24px;
}

button {
    color:rgb(17, 17, 17);
    background-color: transparent;
    border: none;
}
button:hover {
    color:rgb(51, 51, 51);
}

/* nav-bar */

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 70px;
    position: relative;
  }
  
  .nav-left {
    display: flex;
    align-items: left;
    gap: 1rem;
  }

  .nav-right {
    display: flex;
    align-items: right;
    gap: 1rem;
  }
  
  .logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
  
  .logo-container img {
    width: 150px;
    height: auto;
  }

  /* Contenido */

  .video-container-woman {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .video-container-woman video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .video-container-man {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .video-container-man video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .text-content {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    z-index: 2;
    color: rgb(251, 251, 247);
    max-width: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .btn-more {
    background-color: rgb(17, 17, 17);
    color:rgb(251, 251, 247);
    border-radius: 50px;
    border: none;
    padding: 16px;
    min-width: 160px;
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
}

.btn-more:hover {
    background-color:rgb(51, 51, 51);
    color: rgb(251, 251, 247);
}

.card-category {
    height: 375px;
    width: 300px;
    border-radius: 16px;
  }


.btn-category { 
    background-color: rgb(17, 17, 17);
    color:rgb(251, 251, 247);
    border-radius: 50px;
    border: none;
    padding: 12px;
    max-width: 350px;
    min-width: 280px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.btn-category:hover {
    background-color:rgb(51, 51, 51);
    color: rgb(251, 251, 247);
}


/* footer */

footer {
    background-color: rgb(17, 17, 17);
    color:rgb(251, 251, 247);
    padding: 28px;
}

.fa-solid {
    color:rgb(17, 17, 17);
    font-size: 24px;
}

.fa-arrow-right {
    color: rgb(251, 251, 247);
}

.logo-column {
    width: 100px;
    height: auto;
}

.btn-subscribe {
    background-color: rgb(78, 78, 236);
    color: rgb(251, 251, 247);
    border-radius: 50px;
    border: none;
    padding: 12px;
    min-width: 100px;
}

.btn-subscribe:hover {
    background-color: rgb(106, 106, 255);
    color: rgb(251, 251, 247);
}